.waitoast {
      position: fixed;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      font-weight: bold;
      z-index: 9999;
}

.waitoast__icon {
      margin-right: 10px;
}

.waitoast__close {
      margin-left: 10px;
}

.waitoast--bottom-center {
      bottom: 20px;
}

.waitoast--bottom-left {
      bottom: 20px;
      left: 20px;
}

.waitoast--bottom-right {
      bottom: 20px;
      right: 20px;
}

.waitoast--top-center {
      top: 20px;
}

.waitoast--top-left {
      top: 20px;
      left: 20px;
}

.waitoast--top-right {
      top: 20px;
      right: 20px;
}

.waitoast--success {
      background-color: green;
      color: white;
}

.waitoast--info {
      background-color: blue;
      color: white;
}

.waitoast--warning {
      background-color: yellow;
      color: black;
}

.waitoast--error {
      background-color: red;
      color: white;
}
